<div class="row">
    <div class="col-8">
        <a href="Dashboard">Dashboard</a> |
        <a href="ActiveJobs">Active Jobs</a> |
        <a href="CompletedJobs">Completed Jobs</a>
    </div>
    <div class="col-4">
    </div>
</div>

<hr/>