@using Sockethead.Backgrounder.Models
@using Sockethead.Razor.Grid
@model ActiveJobsVM

@{
    ViewData["Title"] = "Active Jobs";
    Layout = "_Layout";
}

@await Html.PartialAsync("_BackgroundMenu.cshtml")

<h4>Queued Jobs (FIFO)</h4>

@(await Html
    .SimpleGrid(Model.QueuedJobs)
    .AddColumn(col => col
        .For(t => t.JobId)
        .LinkTo(t => $"JobDetails?jobId={t.JobId}"))
    .AddColumnFor(t => t.JobName)
    .AddColumnFor(t => t.CreateTime)
    .Css(elements => elements.Table.AddClass("table-striped table-sm table-bordered"))
    .RenderAsync())
<hr/>

<h4>Running Job</h4>

@(await Html
    .SimpleGrid(Model.RunningJobs)
    .AddColumn(col => col
        .For(t => t.JobId)
        .LinkTo(t => $"JobDetails?jobId={t.JobId}"))
    .AddColumnFor(t => t.JobName)
    .AddColumnFor(t => t.CreateTime)
    .Css(elements => elements.Table.AddClass("table-striped table-sm table-bordered"))
    .RenderAsync())
<hr/>
