@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}

@await Html.PartialAsync("_BackgroundMenu.cshtml")

<a class="btn btn-primary" href="StartTestSuccessJob">Start Success Job</a> &nbsp;&nbsp;
<a class="btn btn-primary" href="StartTestSuccessJobDI">Start Success Job (DI)</a> &nbsp;&nbsp;
<a class="btn btn-primary" href="StartTestErrorJob">Start Error Job</a> &nbsp;&nbsp;
<a class="btn btn-primary" href="ClearQueuedJobs">Clear Queued Jobs</a> &nbsp;&nbsp;
<a class="btn btn-primary" href="CancelCurrentJob">Cancel Current Job</a> &nbsp;&nbsp;

